<%= form_for(@material) do |f| %>
  <% if @material.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@material.errors.count, "error") %> prohibited this material from being saved:</h2>

      <ul>
      <% @material.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :disponible %><br />
    <%= f.check_box :disponible, :checked => true %>
  </div>
  <div class="field">
    <%= f.label :descripcion %><br />
    <%= f.text_area :descripcion, :rows => 5 %>
  </div>
  <div class="field">
    <%= f.label :codigo %><br />
    <%= f.text_field :codigo %>
  </div>
  <div class="field">
    <%= f.label :laboratorio_id %><br />
    <%= f.select :laboratorio_id, Laboratorio.all.collect {|l| [l.nombre, l.id]} %>
  </div>
  <% if @material.nuevo or @material.danado then usado = false else usado = true end %>
  <div class="field">
    <%= f.label :nuevo %><br />
    <%= radio_button_tag :estado, :nuevo, @material.nuevo %>
  </div>
  <div class="field">
    <%= f.label :usado %><br />
    <%= radio_button_tag :estado, :usado, usado %>
  </div>
  <div class="field">
    <%= f.label :danado %><br />
    <%= radio_button_tag :estado, :danado, @material.danado %>
  </div>
  <div class="field">
    <%= f.label :dano %><br />
    <%= f.text_area :dano, :rows => 5, :value => @material.dano, :disabled => !@material.danado %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
