<%= content_for :title, "Prestamos pendientes" %>

<% content_for :breadcrumb do %>

<% end %>

<% content_for :main_content do %>

<% unless @prestamos.empty?  %>
<%= form_tag('/estado_devolucion') do %>
  <table id="prestamos_usuario" class="display">
    <thead>
      <tr>
        <th>Sel</th>
        <th>Material</th>
        <th>Observaciones</th>
        <th>Fecha de prestamo</th>
        <th>Estado</th>
      </tr>
    </thead>
    <tbody>
      <% for prestamo in @prestamos  %>
      <tr>
        <td><%= check_box_tag("prestamo_id_#{prestamo.id}", prestamo.id, false) %></td>
        <td><%= prestamo.material.nombre %></td>
        <td><%= prestamo.observaciones %></td>
        <td><%= prestamo.fecha_prestamo  %></td>
        <td><%= revisar_estado(prestamo) %></td>
      </tr>
      <% end %>
    </tbody>
  </table><br />
  Selección: <%= submit_tag "Devolver", :disabled => true, :id => 'devolver_button' %>
<% end %>
<% else %>
  <%= form_tag("/devolucion") do  %>
    Numero de control: <%= text_field_tag "num_control"  %>
     <%= submit_tag("Buscar") %>

  <% end %>
  <br /> 
  usuario no tiene prestamos.
<% end %>

<% end %>
