<%= content_for :title, "Laboratorios" %>

<% content_for :breadcrumb do %>

<% end %>

<% content_for :main_content do %>
<h1>Listing laboratorios</h1>

<table id="tabla_laboratorios" class="index">
  <thead>
  <tr>
    <th>Nombre</th>
    <th>Descripcion</th>
    <th class="accion"></th>
    <th class="accion"></th>
    <th class="accion"></th>
  </tr>
</thead>
<tbody>
<% @laboratorios.each do |laboratorio| %>
  <tr>
    <td><%= laboratorio.nombre %></td>
    <td><%= laboratorio.descripcion %></td>
    <td class="accion"><%= link_to 'Show', laboratorio %></td>
    <td class="accion"><%= link_to 'Edit', edit_laboratorio_path(laboratorio) %></td>
    <td class="accion"><%= link_to 'Destroy', laboratorio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</tbody>
</table>

<br />

<%= link_to 'New Laboratorio', new_laboratorio_path %>
<% end %>
