<%= content_for :title, "Prestamos" %>

<% content_for :breadcrumb do %>

<% end %>

<% content_for :main_content do %>

<h1>Prestamos</h1>

<table id="tabla_materiales_prestamo" class="display">
 <thead>
  <tr>
    <th>Nombre</th>
    <th>Disponible</th>
    <th>Descripcion</th>
    <th>Codigo</th>
    <th>Laboratorio</th>
    <th>Nuevo</th>
    <th>Usado</th>
    <th>Danado</th>
    <th></th>
  </tr>
 </thead>
<tbody>
<% @materiales.each do |material| %>
  <tr>
    <td><%= link_to material.nombre, material %></td>
    <td><%= material.disponible %></td>
    <td><%= material.descripcion %></td>
    <td><%= material.codigo %></td>
    <td><%= material.laboratorio.nombre %></td>
    <td><%= material.nuevo %></td>
    <td><%= material.usado %></td>
    <td><%= material.danado %></td>
    <td><%= link_to "Prestar", "/prestar/#{material.id}" if material.disponible %></td>
  </tr>
<% end %>
</tbody>
</table>

<br />

<% end %>
