<!DOCTYPE html>
<html>
<head>
  <title>Laboratorios - <%= yield :title %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="page">
  	<div id="head">
  	  <div id="logo">
  	  </div>
  	  <div id="user">
  	  </div>	
  	</div>
  	<div id="content">
  	  <div id="breadcrumb">
  	  	<%= yield :breadcrumb %>
  	  </div>
  	  <div id="main_content">
  	    <%= yield :main_content %>
  	  </div>
  	  <div id="navigation">
  	  	<%= yield :navigation %>
  	  </div>
  	</div>
	<div id="footer">
	
	</div>
  </div>

</body>
</html>
